{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_("Django site admin") }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link
    rel="icon"
    href="/favicon.ico"
    sizes="any"
    type="image/x-icon"
  />
  <link
    rel="shortcut icon"
    href="/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="{% static 'favicon/favicon-32x32.png' %}"
    sizes="32x32"
    type="image/png"
  />
  <link
    rel="icon"
    href="{% static 'favicon/favicon-16x16.png' %}"
    sizes="16x16"
    type="image/png"
  />
  <link
    rel="apple-touch-icon"
    href="{% static 'favicon/apple-touch-icon.png' %}"
    sizes="180x180"
  />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="theme-color" content="#47c2c0" />
  <link
    rel="preload"
    href="{% static 'fonts/Golos/GolosText-VariableFont_wght.woff2' %}"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="{% static 'fonts/Unbounded/Unbounded-VariableFont_wght.woff2' %}"
    as="font"
    type="font/woff2"
    crossorigin
  />
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'for_admin/css/main.css' %}" />
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_("Django administration") }}</a>
  </div>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
